<div class="barChartsContainer">
  <div class="barChartContainer">
    <h5>Political Text Analysis</h5>
    <canvas id="politicalBarChart"></canvas>
  </div>
  <div class="barChartContainer emotionalBarChartContainer">
    <h5>Emotion Text Analysis</h5>
    <canvas id="emotionBarChart"></canvas>
  </div>
  <div class="barChartContainer">
    <h5>Personality Text Analysis</h5>
    <canvas id="personalityBarChart"></canvas>
  </div>
</div>

<%- include('chart-script') %>