<div class="barChartsContainer">
  <div class="barChartContainer">
    <canvas id="politicalBarChart"></canvas>
  </div>
  <div class="barChartContainer emotionalBarChartContainer">
    <canvas id="emotionBarChart"></canvas>
  </div>
  <div class="barChartContainer">
    <canvas id="personalityBarChart"></canvas>
  </div>
</div>

<%- include('chart-script') %>