<div class="poliDonutContainer">
    <canvas id="poliDonut"></canvas>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
  <script>
    window.onload = function () {
      // This creates normal js object to work wth
          const totals = <%- JSON.stringy(politicalTotals %>;
          colormap = <%- JSON.stringify(colormap) %>;

      var ctx = document.getElementById("poliDonut");
      var myChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
              labels: ["Libertarian", "Green", "Liberal", "Conservative"],
              datasets: [{
                  label: 'Political Text Analysis',
                  data: [totals.libertarian, totals.green, totals.liberal, totals.conservative],
                  backgroundColor: [
                      colormap['libertarian'][1],
                      colormap['green'][1],
                      colormap['liberal'][1],
                      colormap['conservative'][1],
                  ],
                  borderColor: [
                      colormap['libertarian'][0],
                      colormap['green'][0],
                      colormap['liberal'][0],
                      colormap['conservative'][0],
                  ],
                  borderWidth: 2
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
      });
    }
  </script>