<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head') %>
<body>
  <div class="content">
    <%- include('../layout/header') %>
    <p>Index</p>
  </div>
  <%- include('../layout/footer') %>
</body>
</html>