<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head') %>
<body>
  <div class="content">
    <%- include('../layout/header') %>
    <main>
      <%- include('../layout/aside') %>
      <section>
        <h3>Index</h3>
      </section>
      <p id="hider"><</p>

    </main>
  </div>
  <%- include('../layout/footer') %>
</body>
</html>