:root {
  --sentiment: rgba(183, 89, 210, 1);
  --anger: rgba(204, 66, 30, 1);
  --fear: rgba(23, 141, 37, 1);
  --joy: rgba(228, 223, 83, 1);
  --sadness: rgba(48, 59, 179, 1);
  --surprise: rgba(77, 186, 197, 1);

  --libertarian: rgba(229, 227, 75, 1);
  --green: rgba(102, 202, 137, 1);
  --liberal: rgba(77, 160, 189, 1);
  --conservative: rgba(233, 103, 103, 1);

  --extraversion: rgba(218, 170, 90, 1);
  --openness: rgba(88, 204, 180, 1);
  --agreeableness: rgba(190, 125, 218, 1);
  --conscientiousness: rgba(206, 41, 96, 1);
 }

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.5;
  font-size: 1.1em;
  font-family: Arial, Helvetica, sans-serif;
}
.content {
  flex: 1 0 auto;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px black solid;
  height: 50px;
  margin-bottom: 20px;
}
main {
  width: 95%;
  margin: auto;
}
section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0 50px 0;
}
aside {
  width: 175px;
  overflow: scroll;
  height: 700px;
  float: right;
}
footer {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid black;
  height: 30px;
}

h1 {
  font-size: 200%;
}
h2 {
  font-size: 150%;
}
h3 {
  font-size: 125%;
}
h4 {
  font-size: 110%;
}
h5 {
  font-size: 95%;
  font-weight: 500;
}
p {
  margin-bottom: 10px;
}
small {
  font-size: 80%;
}
a {
  text-decoration: none;
  color: darkblue;
  font-size: 90%;
}
a:hover {
  color: rgb(59, 117, 194);
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

span.underline {
  text-decoration: underline;
}