html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.content {
  flex: 1 0 auto;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px black solid;
  height: 80px;
  margin-bottom: 20px;
}
main {
  width: 95%;
  margin: auto;
}
section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
aside {
  width: 175px;
  overflow: scroll;
  /* position: relative; */
  float: right;
  top: 80px;
  bottom: 30px;
  right: 0px;
}
footer {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid black;
  height: 30px;
}

h1 {
  font-size: 200%;
}
h2 {
  font-size: 150%;
}
h3 {
  font-size: 125%;
}
h4 {
  font-size: 110%;
}
p {
  font-size: 100%;
}
small {
  font-size: 80%;
}
em {
  font-style: italic;
}