.tweet {
  border: 2px solid black;
  border-radius: 10px;
}

.preview {
  padding: 5px;
  margin: 10px;
  width: 200px;
  cursor: pointer;
}

.full {
  padding: 15px;
  width: 80%;
  border-width: 3px;
  margin: 30px;
}

.timestamp {
  margin-bottom: 30px;
}

.barChartsContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.barChartContainer {
  margin-bottom: 30px;
}

.emotionalBarChartContainer {
  width: 400px;
}

.poliDonutContainer {
  width: 800px;
}

.persoPolarContainer {
  width: 800px;
}

.emotionPieContainer {
  width: 800px;
}

/* Start Navbar */
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #333; */
  /* height: 80px; */
}

header li {
  float: left;
  border-right:1px solid #111;
  /* height: 80px; */
}

header li:last-child {
  border-right: none;
  border-left: 1px solid #111;;
}

header li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header li a:hover:not(.active) {
  /* background-color: #111; */

}

header .active {
  /* background-color: rgb(255, 255, 255); */
  font-weight: bold;
}

/* End Navbar */

#currentStatus {

}