#hider {
  display: block;
  width: 20px;
  padding: 5px 3px;
  border: black solid 1px;
  border-radius: 10%;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  background-color: white;
  z-index: 1;
}

a.preview-wrapper {
  color: black;
}

h1 a {
  text-decoration: none;
  color: black;
}
h1 a:hover {
  text-decoration: underline;
}

/* Start - Trait Colors */
/* Emotions */
span.anger {
  color: var(--anger);
}
span.fear {
  color: var(--fear);
}
span.joy {
  color: var(--joy);
}
span.sadness {
  color: var(--sadness);
}
span.surprise {
  color: var(--surprise);
}
/* Political */
span.libertarian {
  color: var(--libertarian);
}
span.green {
  color: var(--green);
}
span.liberal {
  color: var(--liberal);
}
span.conservative {
  color: var(--conservative);
}
/* Personality */
span.extraversion {
  color: var(--extraversion);
}
span.openness {
  color: var(--openness);
}
span.agreeableness {
  color: var(--agreeableness);
}
span.conscientiousness {
  color: var(--conscientiousness);
}

div.anger {
  border-color: var(--anger);
}
div.fear {
  border-color: var(--fear);
}
div.joy {
  border-color: var(--joy);
}
div.sadness {
  border-color: var(--sadness);
}
div.surprise {
  border-color: var(--surprise);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  margin: 1em 0;
  padding: 0;
}
.anger hr {
  border-top: 2px solid var(--anger);
}
.fear hr {
  border-top: 2px solid var(--fear);
}
.joy hr {
  border-top: 2px solid var(--joy);
}
.sadness hr {
  border-top: 2px solid var(--sadness);
}
.surprise hr {
  border-top: 2px solid var(--surprise);
}
#status.anger a{
  color: var(--anger);
}
#status.fear a{
  color: var(--fear);
}
#status.joy a{
  color: var(--joy);
}
#status.sadness a{
  color: var(--sadness);
}
#status.surprise a{
  color: var(--surprise);
}

#status {
  font-family: fantasy;
  font-size: 150%;
  font-weight: bold;
}

span.underline {
  text-decoration: underline;
}