#hider {
  display: block;
  width: 20px;
  padding: 5px 3px;
  border: black solid 1px;
  border-radius: 10%;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  background-color: white;
  z-index: 1;
}

a.preview-wrapper {
  color: black;
}