
<aside>
    <a class="twitter-timeline" data-width="" data-height="" data-theme="light" data-link-color="#2B7BB9"
    data-chrome="noborders noscrollbar transparent nofooter"
    href="https://twitter.com/realDonaldTrump?ref_src=twsrc%5Etfw">Tweets by realDonaldTrump</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</aside>