<header>
  <ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/personality">Personality</a></li>
    <li><a href="/political">Political</a></li>
    <li><a href="/emotional">Emotion</a></li>

    <li style="float:right"><a href="#">About</a></li>
  </ul>
</header>