<div class="persoPolarContainer">
  <canvas id="persoPolar"></canvas>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>

<script>
  window.onload = function () {
    // This creates normal js object to work wth
    const averages = <%- JSON.stringify(averages) %>;
    const personalityColorMap = <%- JSON.stringify(personalityColorMap) %>;
    var ctx = document.getElementById("persoPolar");
    var myChart = new Chart(ctx, {
      type: 'polarArea',
      data: {
        labels: ["Extraversion", "Openness", "Agreeableness", "Concientiousness"],
        datasets: [{
          label: 'Personality Text Analysis',
          data: [averages.extraversion, averages.openness, averages.agreeableness, averages.conscientiousness],
          backgroundColor: [
            personalityColorMap.extraversion[1],
            personalityColorMap.openness[1],
            personalityColorMap.agreeableness[1],
            personalityColorMap.conscientiousness[1],
          ],
          borderColor: [
            personalityColorMap.extraversion[0],
            personalityColorMap.openness[0],
            personalityColorMap.agreeableness[0],
            personalityColorMap.conscientiousness[0],

          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  }
</script>